<a href="https://colab.research.google.com/github/karelmastny/calculus1WithPython/blob/main/typesAndInput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
7+6

13

In [ ]:
a = 4

In [ ]:
b = 5

In [ ]:
# comment
print(a)
b

9

5

In [ ]:
c = 7
d = 7.0
e = 'Hello'

type(e)

str

In [ ]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      9
b          int      5
c          int      7
d          float    7.0
e          str      Hello

In [ ]:
# multiple assignment
varA, varB = 3, 'test'

In [ ]:
varA = 'fdsa'
varB = 4

print(varA)
print(varB)

fdsa
4

In [ ]:
# Pythagorian theorem
# c**2 = a**2 + b**2

# get two inputs from user - side A and B. print c

a = float(input('get me a: '))
b = float(input('get me b: '))

print('If a = ' + str(a) + " and b = " + str(b) + ' in a triangle, than c = ' + str((a**2 + b**2)**(1/2)))

get me a: 3
get me b: 4
If a = 3.0 and b = 4.0 in a triangle, than c = 5.0